@model IEnumerable<projeb.Models.Entity.ogrenci>
@{
    Layout = null;
}
<head>
    <title>Öğrenciler</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<br />
@if (Session["omail"] == null)
{
    <script>
        window.alert("Sayfayı görüntüleyebilmeniz için giriş yapmanız gerekmektedir.");
        window.location.href = 'https://localhost:44396/Ogretmen/Giris';
    </script>

}
else
{
    <h2 align="center" style="font-style:italic;"> Öğrenciler </h2>
    <hr class="divider my-4" />
    <table class="table">
        <tr>
            <th style="text-align:center">
                <label>Ad-Soyad</label>
            </th>

            <th style="text-align:center">
                <label>Öğrenci Numarası</label>
            </th>
            <th style="text-align:center">
                <label>Mail Adresi</label>
            </th>
            <th style="text-align:center">
                <label>Sınıfı</label>
            </th>
            <th style="text-align:center">
                <label>İşlem Seçiniz</label>
            </th>
        </tr>

        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @obj.adsoyad
                </td>

                <td>
                    @obj.ogrno
                </td>
                <td>
                    @obj.mail
                </td>

                <td>
                    @obj.sinif
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("Kabul Formunu Görüntüle", "KFGor", new { id = @obj.id }, new { @class = "btn btn-light btn-sm" }) |
                    @Html.ActionLink("Staj Defterini Görüntüle", "SDGor", new { id = @obj.id }, new { @class = "btn btn-light btn-sm" })
                </td>
            </tr>
        }

    </table>
}
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/Content/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="~/Content/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/Content/js/demo/chart-area-demo.js"></script>
<script src="~/Content/js/demo/chart-pie-demo.js"></script>